@mixin button-style {
   text-decoration: none;
   color: #000;
   font-weight: 500;
   border: 1px solid #47cfac;
   padding: 10px;
   font-size: 1.5rem;
}

@mixin display-flex($direction: null, $justify: null, $align: null, $gap: null, $wrap: null) {
   display: flex;

   @if $direction {
      flex-direction: $direction;
   }

   @if $justify {
      justify-content: $justify;
   }

   @if $align {
      align-items: $align;
   }

   @if $gap {
      gap: $gap;
   }

   @if $wrap {
      flex-wrap: $wrap
   }
}

body {
   max-width: 100vw;
   overflow-x: hidden;

   .main-container-blogpost {

      .section-newpost {

         @include display-flex(row, center, null, 100px, wrap);
         background-color: #e6e9ed;
         padding: 50px;
         width: 100%;
         height: auto;

         div {

            h3 {
               font-weight: bold;
               font-size: 1.8rem;
               margin-bottom: 25px;
            }

            h2 {
               font-size: 2.5rem;
            }

            p {
               white-space: pre-line;
               font-size: 1.8rem;
               font-weight: 500;
               margin-bottom: 35px;
            }

            img {
               width: 40vw;
            }

            a {
               @include button-style();
            }

         }

         .title-newpost {
            @include display-flex(column, center, flex-start, null, null);
         }
      }

      .section-oldPost {
         @include display-flex(column, center, center, null, null);
         padding: 20px 50px;
         width: 100%;
         height: auto;


         h1 {
            font-weight: bold;
            font-size: 1.8rem;
            border-bottom: 1px solid #cdd2da;
            padding-bottom: 20px;
            margin-bottom: 15px;
         }

         .div-oldPost {
            @include display-flex(row, center, center, 30px, wrap);
            width: 60%;

            div {
               width: 300px;

               article {
                  @include display-flex(column, center, flex-start, 15px, null);

                  img {
                     width: 100%;
                  }

                  h4 {
                     font-size: 1.8rem;
                  }

                  p {
                     white-space: pre-line;
                     font-size: 1.6rem
                  }

                  a {
                     @include button-style();
                  }
               }
            }


         }
      }
   }

   footer {
      width: 100%;
      height: 10vh;
      margin-top: 15px;
      background-color: #22272d;
      border-top: 35px solid #47cfac;
      text-align: center;

      p {
         color: #fff;
         margin-top: 20px;
         font-size: 1.8rem;

      }
   }

   @media screen and (min-width: 320px) and (max-width: 480px) {
      body {
         header {
            margin-bottom: 25px;
         }

         footer {

            p {
               font-size: 1.2rem;
            }
         }
      }
   }
}